# Created by .ignore support plugin (hsz.mobi)
# ideal pycharm
/.idea

# python
*.pyc
__pycache__/

# vue front
# /dist
# /build
# npm-debug.log

# logs files
/logs/*

# project files
/projects/*
#!/projects/.gitkeep

# tmp files
/tmp/*
#!/tmp/.gitkeep

# migrations files
migrations/
!migrations/__init__.py

# keep empty dir
!.gitkeep
