# Created by .ignore support plugin (hsz.mobi)
# ideal pycharm
/.idea

# python
*.pyc
__pycache__/

# vue front
# /dist
# /build
# npm-debug.log

# logs files
*.log

# project files
/projects

# tmp files
/tmp

# migrations files
migrations/0*.py